@model GameShop.Models.Game

@{
    ViewData["Title"] = "Thông Tin";
}

<h1>Thông Tin Game</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayMua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaMua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaMua)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Thoát</a> |
    <a asp-action="Index">Trở về Game</a>
</div>
